@charset "UTF-8";
body {
    background: #F1FFE7;
    text-align: center;
    font-size: 1.5vw;
}

img {
    width: 15vw; /* 設置圖像寬度為15視窗 */
    height: auto; /* 高度自動 */
    border-radius: 90%; /* 圖像為圓型 */
}
#probabilityForm {
    margin: 0 auto; /* 將表單水平居中 */
    width: 50vw; /* 表單的寬度為視窗寬度50% */
    text-align: center; /* 将表單内部内容居中 */
    font-size: 1em;
}
.res {
    text-align: center;
    font-size: 1.2em;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #6C464E;
    padding: 3vw;
    text-align: center;
    font-size: 1.2em;
}
.container {
    margin: 1.5vw 20vw;
    padding: 2vw;
    border: 0.3vw solid #A9FDAC;
    background: #44CF6C;
    color: black;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 15px; /* 在小屏幕上使用较小的字体大小 */
    }
    .container, .res, .footer {
        font-size: 1em; /* 在小屏幕上使用标准的字体大小 */
    }
    #probabilityForm input[type="number"] {
        width: 80%;
    }
    img {
        width: 50vw;
    }
}

@media screen and (min-width: 769px) {
    body {
        font-size: 16px; /* 在大屏幕上使用较大的字体大小 */
    }
    .container, .res, .footer {
        font-size: 1.2em; /* 在大屏幕上使用稍大的字体大小 */
    }
    #probabilityForm input[type="number"] {
        width: 50%;
    }
}
